<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">


        <h3 class="w-100 p-3 text-center"> 소식   </h3>
        <div>정렬: 최신순/댓글숫/공감순</div>
        <div class="input-group-prepend">
            <span style="width: 200px;">검색:</span>
            <select class="custom-select" name="type">

                <option>제목 </option>
                <option>내용</option>
                <option>작성자</option>
                <option>제목+내용</option>
            </select>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>

                    <a href="/News/read"  >오늘은 아무소식 없습니다.</a>


                </td>
                <td>2020-04-04</td>
                <td>작성자</td>

            </tr>
            <tr>
                <th scope="row">1</th>
                <td>

                    <a href="/News/read"  >오늘은 아무소식 없습니다.</a>


                </td>
                <td>2020-04-04</td>
                <td>작성자</td>

            </tr>
            <tr>
                <th scope="row">1</th>
                <td>

                    <a href="/News/read"  >오늘은 아무소식 없습니다.</a>


                </td>
                <td>2020-04-04</td>
                <td>작성자</td>

            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <a href="/News/write" class="btn btn-primary">글작성</a>


    </th:block>


</th:block>