<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h3 class="w-100 p-3 text-center"> 토론 상세보기  </h3>

        <table class="mytable">
            <tr>
                <td>관련제안:</td><td>관련제안 불 수 있고,  관련제안 공감, 댓글 수를 볼 수 있다.</td>
            </tr>
            <tr>
                <td>현재단계:</td><td></td>
            </tr>
            <tr>
                <td>토론마감기한</td><td>D-100</td>
            </tr>
            <tr>
                <td>진행중여부,토론기간</td><td></td>
            </tr>
            <tr>
                <td>제목</td><td></td>
            </tr>
            <tr>
                <td>내용</td><td>내용,첨부파일</td>
            </tr>
            <tr>
                <td>공유:</td>
                <td><div th:replace="/common/sns_share" /></td>
            </tr>
            <tr>
                <td>의견표명</td>
                <td>
                    <input type="radio" name="opi">찬성 <input type="radio" name="opi">반대 <input type="radio" name="opi">중립  <br>
                    의견표명한 사람들 닉네임을 볼 수 있습니다.
                </td>
            </tr>
            <tr>
                <td></td><td>게시물을 신고할 수 있습니다.</td>
            </tr>
            <tr>
                <td>댓글/ 대댓글</td>
                <td>쓰기  / 댓글리스트/ 댓글.대댓글 신고(신고사유 선택)</td>
            </tr>
        </table>




        <a href="/Debate/write" class="btn btn-primary">수정하기(관리자)</a>




    </th:block>


</th:block>