<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h3 class="w-100 p-3 text-center"> 그룹 상세보기  </h3>

        <div> 그룹관리자(동)의 경우  관리자 메뉴 진입 페이지 입니다.</div>

        <div>그룹명/소개/slug/그룹정책/생성일  <a href="/Admin/Group/write" class="btn badge-secondary"> 수정</a> </div>


        <div>제안, 토론, 투표, 실행 현황 요약 정보를 확인합니다.</div>
        <div>게시판 데이터 다운로드</div>
        <div></div>
        <div></div>
        <div></div>





    </th:block>


</th:block>